extends base

block append head
  //- script(defer src="/js/login.js")
  //- script(defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

block content

  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Enter your e-mail to reset your password
      form.form#forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Forgot password