extends ../base

block append head
  //- script(defer src="/js/login.js")
  //- script(defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

block content

  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Enter your new password
      form.form#reset-password(data-resetToken=`${resetToken}`)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Reset password